#encabezado li{
    font-family:Arial;
    font-size:12px;
    display:inline;
    padding-left:3px;
    padding-right:3px;
    text-align: right;
}
.menu{
 text-align: right;
}
img{
display:block;
margin:auto;
}
a {
   text-decoration: none;
   color:black;
   background-image: linear-gradient(currentColor, currentColor);
   background-position: 0% 100%;
   background-repeat: no-repeat;
   background-size: 0% 1px;
   transition: background-size .1s;
}

a:hover, a:focus {
   background-size: 100% 1px;
}
#pie li{
    font-family:Arial;
    font-size:12px;
    display:inline;
    padding-left:30px;
    padding-right:12px;
      
}
p{
  font-size:12px;
  margin:10px 10px 10px 10px;
}
#fin{
  background-color:#DCDCDC;
  margin:10px 10px 10px 10px;
}
button{
  height:30px;
  width:200px;
  cursor:pointer;
  display:inline;
  margin: 0 0 0 175px;
    
}
input{
display:block;
margin:auto;
height:40px;
width:600px;
color:#000;
}